/* Reset */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    height: 100vh;
    background-color: #8f1a58;
    color: rgba(80, 24, 171, 0.504);
    transition: width 0.3s ease;
    overflow: hidden;
}

/* Expanded sidebar */
.sidebar.active {
    width: 220px;
}

/* Toggle button */
.toggle-btn {
    font-size: 24px;
    padding: 15px;
    cursor: pointer;
    text-align: center;
}

/* Nav links (hidden by default) */
.nav-links {
    list-style: none;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* show nav links only when expanded */
.sidebar.active .nav-links {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.nav-links li {
    padding: 15px;
}
.nav-links a {
    color:  blue;
    text-decoration: none;
    display: block;
}
.nav-links a:hover {
    background-color: #176841;
    border-radius: 4px;
}
/* Main contenet */
.main-content {
    margin-left: 60px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}
.sidebar.active ~ .main-content {
    margin-left: 220px;
}